@import  'colors';


.container {
  height: 534px;
  width: 607px;
  gap: 24px;
  padding: 64px 60px 64px 0px;
  font-family: "Montserrat";
  letter-spacing: 1%;
  font-size: 20px;
  line-height: 150%;
  background-color: antiquewhite;
}

.highlightscss {
  color: black;
}


@media (min-width: 320px) {
  .container { 
    height: fit-content;
    width: fit-content;
    font-size: 7px;
  }
}
@media (min-width: 420px) {
  .container { 
    height: fit-content;
    width: fit-content;
    font-size: 10px;

  }
}
@media (min-width: 768px) {
  .container { 
    height: fit-content;
    width: fit-content;
    font-size: 15px;

  }
}
@media (min-width: 1280px) {
  .container { 
    height: fit-content;
    width: fit-content;
    font-size: 20px;

  }
}

@media (min-width: 1366px) {
  .container { 
    height: 534px;
    width: 607px;
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .container { 
    height: fit-content;
    width: fit-content;
    font-size: 30px;
  }
}



